/* #para2{
    color:#f123a2;
}
#para3{
    color:#f123a2;
} */
/* .para{
    color:#f123a2;
} */
/* *{
    color:#f123a2;
} */
/* ul:nth-of-type(even){
    color:red;
} */
/* p a{
    color:red;
} */
/* input[type="password"]{
    background-color: red;
} */
/* div{
    color:red;
    border:2px solid blue;
}
span{
    color:red;
} */
/* *{
    font-size: 30px;
}
/* p{
    font-size: 25px;
} */
/* #para2{
    font-size: 20px;
} */